
<head>
  <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   {%- seo -%}
   <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
   {%- feed_meta -%}
   <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
   <script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
 </head>
<header>
<!-- this is the mainpage -->
</header>
<body>


  <div id="wrapper">
    <div id="foreground">
      <img class="socials banner semitransparent" src="{{ "/assets/images/banner.png" | relative_url }}" />
      <iframe class="socials" src="https://mixlr.com/users/8904135/embed" width="100%" height="180px" scrolling="no" frameborder="no" marginheight="0" marginwidth="0"></iframe>
      <div class="socials" id="twitch-embed"></div>
      <a href="https://discord.gg/AGrHVBcdRu" target="_blank"><img class="socials semitransparent discord"  src=" {{ "/assets/images/Discord-logo.png" | relative_url }}" /></a>

      <img class="socials poster" src="{{ "/assets/images/show-poster.png" | relative_url }}" />
      
      <!-- <div class="socials"> -->
        
      <!-- </div> -->
      
    </div>
    <div class="animated_background">
      <img class="large_image" src=" {{ "/assets/images/djreplyguy_transparent-01.png" | relative_url }}" >
    </div>
  </div>

      <!-- Load the Twitch embed script -->
      <script src="https://embed.twitch.tv/embed/v1.js"></script>

      <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
      <script type="text/javascript">
        new Twitch.Embed("twitch-embed", {
          width: "100%",
          height: "40%",
          channel: "djreplyguy",
          layout: "video",
          // only needed if your site is also embedded on embed.example.com and othersite.example.com 
          // parent: ["embed.example.com", "othersite.example.com"]
        });
      </script>


</body>

